form{
	background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwwMDAwMDAwMDAwHBwwHDAwMDA8MDAcMFBEWFhQRFBQYHCggGBolGxQUITEhJSkrLi4uFx8zODMsNygtLisBCgoKDAwMDgwMDisZHxkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIANsA5gMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAaEAEBAQADAQAAAAAAAAAAAAAAARFBscEh/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAEC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A0MAZAAAAAAAABJFAAAAAAAABBQEFQAAUAEABVAEAAAAAAAAAAAAABQAQAAAAAAABAAAAUAFCAAAAACKAgoCAAAAAAAAAAACgAgCAKAKAAAAAAAAVUAAAAARQEFAQAAAAAAAAAAAFAAAAAAAAAAAAAAAAAARUAAAAAAAAAABQAAAAAAAAAAAAAAAAAQVAAAAAAAAAAAUAAAAAAFBAAAAAAAUEAAAARUAFQAAAAAAFAAAAAAVFBAAAAAAAAAAAAAAAAEUBAAAAUAAAAABUUEAAAAAABQRRAAAAAAAEVAAAAAUAAAAAFEUEAAAAABQAAAQVAAAAAAAQVAFRQAAAAAAAAAAVFQAAAABdQBUFAqKgAAAAIKAiooAAAAAAAACoAogAAAAAAAqAAqAAAAAAAAACoAAAACgAAaAGmgYGgIAAAAqLOgEVAAAAAAAAAAAAAAAAAAUEFAQUBBaAgoCKAHnxFvCAAAAAIqAKig//2Q==');
}

ul{
	text-align: center;
	color: steelblue;
	list-style-type: none;
}

.checked{
	text-decoration: line-through;
}

.notChecked{
	text-decoration: none;
}